<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>404 Not Found</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/404.css}"></link>
</head>
<body>

<div class="container" id="settings-page" data-firstname="${user.first_name}" data-lastname="${user.last_name}"  data-userid="${user.user_id}">
  <div class="row justify-content-center">
    <div class="col-4">
      <img width=400 height=400 th:src="@{/public/images/404logo.png}"/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1><strong>Error 404</strong></h1>
      </div>
    </div>
<div class="row justify-content-center">
    <div class="col text-center">
      <h3>Dodo not found<h3> 
      </div>
    </div>
  <div class="row justify-content-center">
    <div class="col-2 mx-auto text-center">
      <br/>
      <button type="button" class="btn btn-danger"><a id="home-button" th:href="@{/user}">Return Home</a></button>
    </div>
  </div>
</div>
</body>
</html>
