<!-- Page to display a block task. -->

<!doctype html>
<html lang="en">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/block-task.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/js/lib/intro.js/introjs.css}"></link>
  <script th:src="@{/public/js/lib/intro.js/intro.js}"></script>
  <script type="text/javascript" th:src="@{/public/js/rating.js}"></script>
  <script type="text/javascript" th:src="@{/public/js/block-helper.js}"></script>
  <script type="text/javascript" th:src="@{/public/js/draggable.js}"></script>
  <script th:inline="javascript">
    var test_case = [[${task.test_case}]];
    var expected_output = [[${task.expected_output}]];
    var next_task = [[${next_task}]];
    var task_id = [[${task.task_id}]];
    var lesson_id = [[${lesson.lesson_id}]];
    var completed = [[${task.completed}]];
    var new_lesson = [[${new_lesson}]];
    var rating = [[${lesson.rating}]];
  </script>
</head>
<body>

  <div class="container h-100">
    <!-- Lesson navbar. -->
    <div class="row">
      <div class="col">
        <div th:replace="lesson-navbar :: navbar"></div>
      </div>
    </div>

    <!-- Task navbar -->
    <div class="row">
      <div class="col">
        <div th:replace="task-navbar :: navbar"></div>
      </div>
    </div>

    <!-- Lesson content -->
    <div class="row " id="lesson-content">
      <!-- Column containing instructions. -->
      <div class="col-3 task-col">
        <div class="card h-100 step-1" id="instructions-div">
          <div class="card-header card-title-block">
            <h3 class="card-title">Instructions</h3>
          </div>
          <div class="card-block code-placement" id="instructions" th:utext="${task.instructions}"></div>
        </div>
      </div>

      <!-- Column containing editor and toolbox. -->
      <div class="col-6 task-col">
        <div th:insert="draggable:: #block-content" th:with="hint=${task.hint}" th:remove="tag"></div>
      </div>

      <!-- Column containing expected output. -->
      <div class="col-3 task-col">
        <div class="card h-100 step-5" id="output-div">
          <div class="card-header card-title-block">
            <h3 class="card-title">Output</h3>

            <!-- If the task was already completed, let the user go to the next task. -->
            <a id="next-arrow" onClick="saveRedirect()" th:if="${next_task > 0 && task.completed}"
              class="fa fa-lg fa-vc fa-arrow-right pull-right"></a>
              <a id="next-arrow" onClick="saveRedirect()" th:if="${next_task < 0 && task.completed}"
              class="fa fa-lg fa-vc fa-arrow-right pull-right"></a>
            </div>
            <div class="card-block code-placement" id="output"></div>
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">Reporting a Lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to report the lesson? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" onClick="reportLesson()">Yes</button>
      </div>
    </div>
  </div>
</div>
  </body>
  </html>
