<!doctype html>
<html lang="en">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/7e4c107e18.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/block-task.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
  <script type="text/javascript" th:src="@{/public/js/draggable.js}"></script>
</head>
<body>

<div class="container h-100" id="page">
  <div class="row">
    <div class="col">
      <div th:replace="lesson-navbar :: navbar"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div th:replace="lesson-options-navbar :: navbar"></div>
    </div>
  </div>
  <div class="row h-75" id="lesson-content">
    <div class="w-25 h-100 task-col">
      <div class="card h-100" id="instructions-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Instructions</h3>
        </div>
        <div class="card-block code-placement" id="instructions" th:text="${task.instructions}"></div>
      </div>
    </div>
    <div class="w-50 h-100 task-col">
      <div th:replace="draggable:: #blockContent"></div>
    </div>
    <div class="w-25 h-100 task-col">
      <div class="card h-100" id="output-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Output</h3>
        </div>
        <div class="card-block code-placement" id="output"></div>
      </div>
    </div>
  </div>
</div>
<div id="test-case" th:text="${task.test_case}"></div>
<div id="ex-output" th:text="${task.expected_output}"></div>
 
</body>
</html>