<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>  
  <div th:fragment="block(block)" th:switch="${block.can_edit}">
    <!-- Code for blocks that can have blocks dropped into them. -->
    <div th:case="${true}">
        <!-- For blocks. -->
        <div class="code-block"
          th:if="${block.type == T(com.dolphinblue.models.Block$Type).FOR}"
          th:attr="data-children='true',data-type=${block.type}">
            for (
                <div class="holds-one code-placement"></div>;
                <div class="holds-one code-placement"></div>;
                <div class="holds-one code-placement"></div>
            )
        </div>

        <!-- If blocks. -->
        <div class="code-block"
          th:if="${block.type == T(com.dolphinblue.models.Block$Type).IF}"
          th:attr="data-children='true',data-type=${block.type}">
            if (
                <div class="holds-one code-placement"></div>
            )
        </div>

        <!-- While blocks. -->
        <div class="code-block"
          th:if="${block.type == T(com.dolphinblue.models.Block$Type).WHILE}"
          th:attr="data-children='true',data-type=${block.type}">
            while (
                <div class="holds-one code-placement"></div>
            )
        </div>

        <!-- Console.log blocks. -->
        <div class="code-block"
          th:if="${block.type == T(com.dolphinblue.models.Block$Type).LOG}"
          th:attr="data-children='true',data-type=${block.type}">
            console.log(
                <div class="holds-one code-placement"></div>
            );
        </div>
    </div>

    <!-- If it's a normal type of block,  -->
    <div th:case="*">
        <div class="code-block" th:id="${block.block_id}" th:text="${block.value}" th:attr="data-children='false',data-type=${block.type}"></div>
    </div>
</div>
</body>
  
</html>