<!-- Basic template for debugging code. -->

<!doctype html>
<html lang="en">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/block-task.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
  <script type="text/javascript" th:src="@{/public/js/debug-draggable.js}"></script>
</head>
<body>

<div class="row " id="lesson-content">
    <div class="col-3 task-col">
      <div class="card h-100" id="instructions-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Instructions</h3>
        </div>
        <div class="card-block code-placement" id="instructions" th:utext="${task.instructions}"></div>
      </div>
    </div>
    <div class="col-6 task-col">
      <div th:replace="draggable:: #block-content"></div>
    </div>
    <div class="col-3 task-col">
      <div class="card h-100" id="output-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">
            Output
            <a class="nav-link" onClick="save()"
                data-toggle="tooltip" data-placement="bottom" title="Save">
              <i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i>
            </a>
          </h3>
        </div>
        <div class="card-block code-placement" id="output"></div>
      </div>
    </div>
  </div>
</div>
<div id="page-info" th:attr="data-test-case=${task.test_case},data-completed=${task.completed},data-next-task=${next_task},data-ex-output=${task.expected_output},data-task-id=${task.task_id}">
</div>
</body>
</html>
