<!-- Contains the editor and toolbox. -->

<!doctype html>
<html lang="en">
<head>
 
  <title>Test - Droppable</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
   
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/js/lib/intro.js/introjs.css}"></link>
  <script type="text/javascript" th:src="@{/public/js/draggable.js}"></script>
  <script th:src="@{/public/js/lib/intro.js/intro.js}"></script>
 
</head>
<body>

<div class="container-fluid">
  <div th:fragment="block-content" id="block-content">

    <!-- The editor.-->
    <div class="card step-2" id="editor-div">

      <!-- The header for the editor block. -->
      <div class="card-header card-title-block">
        <h3 class="card-title">
          Editor
        </h3>

        <!-- A model for the hint button. -->
        <div th:include="hint-modal :: hint" th:remove="tag"></div>
      </div>

      <!-- The div containing the blocks for the editor. -->
      <div class="card-block code-placement" id="editor">
        <div th:each="block : ${editor}" th:insert="code-block :: block(${block})"  th:remove="tag"></div>
      </div>

      <!-- A footer containing the button to run the code. -->
      <div class="card-footer">
        <btn class="btn btn-sm btn-primary float-right step-4" onClick="run()">Run</btn>
      </div>
    </div>

    <!-- The toolbox -->
    <div class="card step-3" id="toolbox-div">
      <div class="card-header card-title-block">
        <h3 class="card-title">Toolbox</h3>
      </div>

      <!-- The div containing the blocks for the toolbox. -->
      <div class="card-block code-placement" id="toolbox">
        <div th:each="block : ${toolbox}" th:insert="code-block :: block(${block})" th:remove="tag"></div>
      </div>
    </div>
  </div>
</div>
 
</body>
</html>