<!-- Contains the editor and toolbox. -->

<!doctype html>
<html lang="en">
<head>
 
<title>A jQuery Drag-and-Drop Number Cards Game</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
<link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
 
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/public/js/lib/intro.js/introjs.css}"></link>
<script type="text/javascript" th:src="@{/public/js/draggable.js}"></script>
  <script th:src="@{/public/js/lib/intro.js/intro.js}"></script>
 
</head>
<body>

<div class="container-fluid">
  <div th:fragment="block-content" id="block-content">

    <!-- The editor.-->
    <div class="card" id="editor-div">

      <!-- The header for the editor block. -->
      <div class="card-header card-title-block">
        <h3 class="card-title">
          Editor
        </h3>

        <!-- A model for the hint button. -->
        <div th:include="hint-modal :: hint" th:remove="tag"></div>
      </div>

      <!-- The div containing the blocks for the editor. -->
      <div class="card-block code-placement step-2" id="editor">
        <div th:each="block : ${editor}" th:insert="code-block :: block(${block})"  th:remove="tag"></div>
      </div>

      <!-- A footer containing the button to run the code. -->
      <div class="card-footer">
        <btn class="btn btn-sm btn-primary float-right step-4" onClick="run()">Run</btn>
      </div>
    </div>

    <!-- The toolbox -->
    <div class="card step-3" id="toolbox-div">
      <div class="card-header card-title-block">
        <h3 class="card-title">Toolbox</h3>
      </div>

      <!-- The div containing the blocks for the toolbox. -->
      <div class="card-block code-placement" id="toolbox">
        <div th:each="block : ${toolbox}" th:insert="code-block :: block(${block})" th:remove="tag"></div>
      </div>
    </div>
  </div>
</div>
 
</body>
</html>