<!doctype html>
<html lang="en">
<head>
 
<title>A jQuery Drag-and-Drop Number Cards Game</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
<link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
 
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/public/js/draggable.js}"></script>
 
</head>
<body>

<div class="container-fluid">
  <div th:fragment="blockContent" id="blockContent" class="h-100">
    <div class="card" id="editor-div">
      <div class="card-header card-title-block align-items-center">
        <h3 class="card-title">
          Editor
        </h3>
        <i class="fa fa-2x fa-question pull-right"></i>
      </div>
      <div class="card-block code-placement" id="editor"></div>
      <div class="card-footer">
        <btn class="btn btn-sm btn-primary float-right" onClick="run()">Run</btn>
      </div>
    </div>
    <div class="card" id="toolbox-div">
      <div class="card-header card-title-block">
        <h3 class="card-title">Toolbox</h3>
      </div>
      <div class="card-block code-placement" id="toolbox"></div>
    </div>
  </div>
</div>
 
</body>
</html>