<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- TODO: display lesson title in the tab bar -->
    <title>Edit Lesson</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
    <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/edit-lesson.css}"></link>
    <script type="text/javascript" th:src="@{/public/js/edit-lesson.js}"></script>
</head>
<body>

<div class="container" id="page" >
    <!-- The lesson navbar. -->
    <div class="row">
        <div class="col">
            <div th:replace="edit-lesson-navbar :: navbar(canEdit=false)"></div>
        </div>
    </div>

    <!-- Lesson Title and Box to edit it -->
   <div class="row justify-content-start">
       <div class="col-3"><h2>Title:</h2> </div>
        <div class="col-4" >
            <span id="title-text" th:text="${lesson.title}">Lesson Title</span>
          <div class="float-right" id="title_edit" >
            <!-- the icon to edit the username -->
            <i class="fa fa-lg fa-pencil" ></i>
          </div>
        </div>
        <!-- the form to edit the username, hidden originally, then shown then the pencil is pressed -->
        <div class="input-group" id="title-edit-form" style="display: none;">
          <input type="text" class="form-control" id="username-textbox" th:text="${user.username}"/>
          <span class="input-group-btn">
            <button class="btn btn-secondary" id="title-no-btn" type="button">NO</button>
            <button class="btn btn-secondary" id="title-submit-btn" type="button">OK</button>
          </span>
        </div>
   </div>
    <!-- Textbox to edit the less description -->
    <!-- TODO: do we want to change this to match the title or do we want to change the title method of edititng to match this? -->

    <div class="row justify-content-start">
       <div class="col-3"><h2>Description:</h2></div>
        <div class="col-5 h-200">
        <textarea th:text="${lesson.description}"></textarea>
        </div>
        <div  class="col-2">
            <button type="button" id="submit-description-button" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
        </div>
    </div>

    <!-- The sortable list of tasks -->
    <!-- TODO: add loop to go through the tasks for a lesson -->
    <div class="row justify-content-start">
        <div class="col-1"><h2>Tasks</h2></div>
        <div class="col-2">
            <button type="button" id="add-task-button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <ul id="sortable">
                <li class="task-block">Item 1 <span class="edit-task-button"><i class="fa fa-pencil" aria-hidden="true"></i></span> <span class="delete-task-button"><i class="fa fa-trash" aria-hidden="true"></i></span></li>
                <li class="task-block">Item 2 <span class="edit-task-button"><i class="fa fa-pencil" aria-hidden="true"></i></span> <span class="delete-task-button"><i class="fa fa-trash" aria-hidden="true"></i></span></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>