<!doctype html>
<html lang="en">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/7e4c107e18.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/edit-block-task.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
  <script type="text/javascript" th:src="@{/public/js/edit-block-task.js}"></script>
</head>
<body>

<div class="container h-100">

  <!-- The lesson navbar. -->
  <div class="row">
    <div class="col">
      <div th:replace="lesson-navbar :: navbar"></div>
    </div>
  </div>

  <!-- The task navbar. -->
  <div class="row">
    <div class="col">
      <div th:replace="edit-task-navbar :: navbar"></div>
    </div>
  </div>

  <!-- The content of the lesson to be created. -->
  <div class="row " id="lesson-content">
    <div class="col-3 task-col">
      <div class="card med-card" id="instructions-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Instructions</h3>
        </div>
        <div class="card-block textarea-parent">
          <textarea type="text" id="instructions" th:text="${task.instructions}"></textarea>
        </div>
      </div>

      <!-- An input box in which to write the hint. -->
      <div class="card small-card" id="hint-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Hint</h3>
        </div>
        <div class="card-block textarea-parent">
          <textarea type="text" id="hint" th:text="${task.hint}"></textarea>
        </div>
      </div>

      <!-- An div of input boxes to specify test cases. Should be in the form of a JSON string. -->
      <div class="card small-card" id="input-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Test Input</h3>
          <span class="align-middle pull-right">
            <i class="fa fa-lg fa-vc fa-plus" onClick="addOutput()"></i>
          </span>        </div>
        <div id="test-case" class="card-block input-parent container-fluid">
          <div class="row">
            <input type="text" class="row-item" th:value="${task.test_case}"></input>
            <i class="fa fa-vc fa-minus pull-right" onClick="minusOutput(this)"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Column containing editor and toolbox. -->
    <div class="col-6 task-col">
      <div th:insert="draggable:: #block-content" th:with="hint=''" th:remove="tag"></div>
    </div>

    <!-- Column containing catalog, expected output, and actual output. -->
    <div class="col-3 task-col">

      <!-- Div containing the block catalog. -->
      <div class="card med-card" id="catalog-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Block Catalog</h3>
        </div>

        <!-- The actual div containing catalog blocks. -->
        <div class="card-block code-placement" id="catalog">
          <div th:each="block : ${catalog}" th:insert="code-block :: block(${block})"  th:remove="tag"></div>
        </div>

        <!-- Blocks from the editor or toolbar dragged here will be deleted. -->
        <div id="trash" class="card-footer card-danger card-inverse text-center">
          <i class="fa fa-lg fa-trash"></i>
        </div>
      </div>

      <!-- A div of input boxes to specify expected output. -->
      <div class="card small-card" id="ex-output-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Test Output</h3>
          <span class="align-middle pull-right">
            <i class="fa fa-lg fa-vc fa-plus" onClick="addOutput()"></i>
          </span>
        </div>
        <div id="ex-output" class="card-block input-parent container-fluid">
          <div class="row">
            <input type="text" class="row-item" th:value="${task.expected_output}"></input>
            <i class="fa fa-vc fa-minus pull-right" onClick="minusOutput(this)"></i>
          </div>
        </div>
      </div>

      <!-- Editor program output is placed here. -->
      <div class="card small-card" id="output-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Actual Output</h3>
        </div>
        <div class="card-block code-placement" id="output"></div>
      </div>
    </div>
  </div>
</div>
<div id="page-info" th:attr="data-test-case=${task.test_case},data-completed=${task.completed},data-next-task=${next_task},data-ex-output=${task.expected_output},data-task-id=${task.task_id},data-lesson-id=${lesson.lesson_id}">
</div>
</body>
</html>
