<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- TODO: display lesson title in the tab bar -->
  <title>Edit Lesson</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/edit-lesson.css}"></link>
  <script type="text/javascript" th:src="@{/public/js/edit-lesson.js}"></script>
</head>
<body>

<div class="container" id="page" >
    <!-- The lesson navbar. -->
    <div class="row">
      <div class="col">
        <div th:replace="edit-lesson-navbar :: navbar(canEdit=false)"></div>
      </div>
    </div>

  <div class="row justify-content-center">
    <div class="col-lg-8">
      <!-- Lesson Title and Box to edit it -->
      <form>
       <div class="form-group row">
          <label for="title-textbox" class="col-2 col-form-label col-form-label-lg">Title</label>
          <div class="col-8">
            <input type="text" class="form-control" id="title-textbox" th:text="${user.username}"/>
          </div>
          <div class="col-2">
            <button class="btn btn-success btn-sm" id="title-submit-btn" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
         </div>
       </div>
      <!-- Textbox to edit the less description -->
      <!-- TODO: do we want to change this to match the title or do we want to change the title method of edititng to match this? -->

      <div class="row form-group">
        <label for="description-text" class="col-2 col-form-label col-form-label-lg">Description</label>
        <div class="col-8">
        <textarea id="description-text" class="form-control" th:text="${lesson.description}"></textarea>
        </div>
        <div  class="col-2">
          <button type="button" id="submit-description-button" class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg">Public</label>
        <div class="col-sm-10 align-self-center">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="public-radio" th:selected="${lesson.shared}">
            </label>
          </div>
        </div>
      </div>

      <!-- The sortable list of tasks -->
      <!-- TODO: add loop to go through the tasks for a lesson -->
      <div class="card">
        <div class="card-header card-title-block">
          <h3 class="card-title">Tasks</h3>
          <span type="button" id="add-task-button" class="btn btn-success btn-sm pull-right align-middle">
              <i class="fa fa-vc fa-plus" aria-hidden="true"></i>
          </span>
        </div>
        <div class="card-block">
          <div class="col">
            <ul class="sortable" id="tasks-list">
              <li class="task-block">
                Item 1 
                <span class="pull-right">
                  <span class="task-button edit-task-button">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span class="task-button delete-task-button">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </span>
              </li>
              <li class="task-block">
                Item 2 
                <span class="pull-right">
                  <span class="task-button edit-task-button">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span class="task-button delete-task-button">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>