<!DOCTYPE html>
<html lang="en">
<head>
   
  <title>Codo - Edit Block Task</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/edit-block-task.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/draggable-style.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/js/lib/intro.js/introjs.css}"></link>
  <script th:src="@{/public/js/lib/intro.js/intro.js}"></script>
  <script type="text/javascript" th:src="@{/public/js/block-helper.js}"></script> 
  <script type="text/javascript" th:src="@{/public/js/edit-block-task.js}"></script>
  <script th:inline="javascript">
    var lesson_id = [[${lesson.lesson_id}]];
    var task_id = [[${task.task_id}]];
    var task_tutorial = [[${task_tutorial}]];
  </script>
</head>
<body>
<div class="container h-100">

  <!-- The lesson navbar. -->
  <div class="row">
    <div class="col">
      <div th:replace="lesson-navbar :: navbar(canEdit=true)"></div>
    </div>
  </div>

  <!-- The task navbar. -->
  <div class="row">
    <div class="col">
      <div th:replace="edit-task-navbar :: navbar"></div>
    </div>
  </div>

  <!-- The content of the lesson to be created. -->
  <div class="row " id="lesson-content">
    <div class="col-3 task-col">
      <div class="card med-card step-3" id="instructions-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Instructions</h3>
        </div>
        <div class="card-block textarea-parent">
          <textarea type="text" id="instructions" class="form-control" th:text="${task.instructions}"></textarea>
        </div>
      </div>

      <!-- An input box in which to write the hint. -->
      <div class="card small-card step-4" id="hint-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Hint</h3>
        </div>
        <div class="card-block textarea-parent">
          <textarea type="text" id="hint" class="form-control" th:text="${task.hint}"></textarea>
        </div>
      </div>

      <!-- An div of input boxes to specify test cases. Should be in the form of a JSON string. -->
      <div class="card small-card step-5" id="input-div">
        <div th:replace="output-list :: list(list_id='test-case', title='Test Input',list=${task.test_case},default='Input')"></div>
      </div>
    </div>

    <!-- Column containing editor and toolbox. -->
    <div class="col-6 task-col">
      <div th:insert="draggable:: #block-content" th:with="hint=''" th:remove="tag"></div>
    </div>

    <!-- Column containing catalog, expected output, and actual output. -->
    <div class="col-3 task-col">

      <!-- Div containing the block catalog. -->
      <div class="card med-card step-6" id="catalog-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Block Catalog</h3>
        </div>

        <!-- The actual div containing catalog blocks. -->
        <div class="card-block code-placement" id="catalog">
          <div th:each="block : ${catalog}" th:insert="code-block :: block(${block})"  th:remove="tag"></div>
        </div>

        <!-- Blocks from the editor or toolbar dragged here will be deleted. -->
        <div id="trash" class="card-footer card-danger card-inverse text-center">
          <i class="fa fa-lg fa-trash"></i>
        </div>
      </div>

      <!-- A div of input boxes to specify expected output. -->
      <div class="card small-card" id="ex-output-div">
        <div th:replace="output-list :: list(list_id='ex-output',title='Test Output',list=${task.expected_output},default='Output')"></div>
      </div>

      <!-- Editor program output is placed here. -->
      <div class="card small-card step-7" id="output-div">
        <div class="card-header card-title-block">
          <h3 class="card-title">Actual Output</h3>
        </div>
        <div class="card-block code-placement" id="output"></div>
        <div class="card-footer">
          Status: 
          <div id="test-status" class="btn btn-outline-secondary">Untested</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="page-info" th:attr="data-test-case=${task.test_case},data-completed=${task.completed},data-next-task=${next_task},data-ex-output=${task.expected_output},data-task-id=${task.task_id},data-lesson-id=${lesson.lesson_id}">
</div>
<div th:replace="delete-task-modal :: modal"></div>
</body>
</html>
