<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>  
  <nav id="lesson-options-navbar" th:fragment="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${prev_task} > 0">
                <a class="nav-link" th:href="'/lesson/' + ${lesson.lesson_id} + '/task/' + ${prev_task}"
                    data-toggle="tooltip" data-placement="bottom" title="Back">
                  <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i>
                </a>    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user"
                    data-toggle="tooltip" data-placement="bottom" title="Reset Task">
                  <i class="fa fa-lg fa-undo" aria-hidden="true"></i>
                </a>    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user"
                    data-toggle="tooltip" data-placement="bottom" title="Restart Lesson">
                  <i class="fa fa-lg fa-repeat" aria-hidden="true"></i>
                </a>    
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mx-auto" th:each="index: ${#numbers.sequence(1, #lists.size(lesson.tasks))}">
            <li class="nav-item">
                <a class="nav-link" th:href="'/lesson/' + ${lesson.lesson_id} + '/task/' + ${lesson.tasks[index-1].getId()}" th:text="${index}"></a>    
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user"
                    data-toggle="tooltip" data-placement="bottom" title="Save">
                  <i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i>
                </a>    
            </li>
        </ul>
    </div>
  </nav>
</body>
  
</html>