<!-- A template for lesson cards. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body> 
  <div th:fragment="myfragment" class="col-6 align-items-center">
    <!-- All of the lesson card is a link to the relevant lesson. -->
    <a th:fragment="subfragment" class="lesson-link" th:href="${path} + ${lesson.lesson_id}">
    <div class="row lesson-box">

      <!-- The left portion contains the title and progress. -->
      <div class="col-4 title-box">
        <span th:text="${lesson.title}"></span>
        <span th:text="${lesson.percent_complete} + '%'"></span>
      </div>

      <!-- The right portion contains the description. -->
      <div class="col-8 description-box" th:text="${lesson.description}"></div>
    </div>
    </a>
  </div>
</body>

</html>