<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <nav id="lesson-navbar" th:fragment="navbar" class="navbar navbar-toggleable-md navbar-inverse bg-inverse step-6">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand on the right. -->
    <div class="navbar-collapse collapse dual-collapse">
         <a class="navbar-brand"  href="#">
      <img th:src="@{/public/images/logo.png}" width="30" height="30" alt="">
      <strong>Codo</strong>
    </a>
    </div>

    <!-- Title located in the center. -->
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav mx-auto flex-column align-items-center">
            <li class="nav-item">
                <span id="task-brand" class="navbar-brand">
                    <span id="lesson-title" th:text="${lesson.title}">Default Lesson Title</span>
                     - 
                    <span id="task-title" th:text="${task.title}">Default Task Title</span>
                    <a id="title-button" th:if="${canEdit}" class="btn btn-sm"
                      data-toggle="tooltip" data-placement="bottom" title="Edit Title"
                      onClick="editTitle()">
                      <i id="title-icon" class="fa fa-lg fa-pencil" aria-hidden="true"></i>
                    </a>
                </span>    
            </li>
            <li class="nav-item" th:if="${!canEdit}">
               <span class="nav-link" id="star-rating" >
                   <!-- default look for star ratings of a lesson -->
                   <i class="fa fa-lg fa-star-o" aria-hidden="true"></i>
               </span>
            </li>
        </ul>
    </div>

    <!-- Button on the right to go home. -->
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user"
                    data-toggle="tooltip" data-placement="bottom" title="Home">
                  <i class="fa fa-lg fa-home" aria-hidden="true"></i>
                </a>    
            </li>
        </ul>
    </div>
  </nav>
</body>
  
</html>
