<html lang="en">
<head>
    <title>Codo</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
    <script src="https://apis.google.com/js/platform.js" ></script>
    <script th:src="@{/public/js/login.js}"></script>
    <meta name="google-signin-client_id" content="441622834163-c890l3f1krej8tfgv0sl78b3tqqo10fo.apps.googleusercontent.com"></meta>
   <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <img th:src="@{public/images/codo.png}"/>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-2 ">
            <div class="card-block">
                <div class="g-signin2" style="width:100%;margin:0 auto;" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
