<html lang="en">
<head>
    <title>Codo</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/7e4c107e18.js"></script>
    <script src="https://apis.google.com/js/platform.js" ></script>
    <script th:src="@{/public/js/login.js}"></script>
    <meta name="google-signin-client_id" content="441622834163-c890l3f1krej8tfgv0sl78b3tqqo10fo.apps.googleusercontent.com"></meta>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <img th:src="@{public/images/codo.png}"/>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-6 offset-md-3">
            <div class="card-block">
                <div class="g-signin2" style="width:100%;margin:0 auto;" data-onsuccess="onSignIn"></div>
                </div>
            </div>
    </div>
</div>
</body>
</html>
