<html lang="en">
<head>
    <title>Codo -- Login</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
    <script src="https://apis.google.com/js/platform.js" ></script>
    <script th:src="@{/public/js/login.js}"></script>
    <meta name="google-signin-client_id" content="441622834163-c890l3f1krej8tfgv0sl78b3tqqo10fo.apps.googleusercontent.com"></meta>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <img th:src="@{public/images/codo.png}"/>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-2 ">
            <div class="card-block">
                <div class="g-signin2" style="width:100%;margin:0 auto;" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
