<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/lessoncard.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/search.css}"></link>
  <script th:src="@{/public/js/search.js}"></script>
  <script th:inline="javascript">
    var filter = "all";
    var sortBy = "none";
    var asc = false;
  </script>
</head>
<body>

<div class="container" id="settings-page" data-firstname="${user.first_name}" data-lastname="${user.last_name}"  data-userid="${user.user_id}">
  <div class="row">
    <div class="col">
      <div th:replace="settings-navbar :: navbar"></div>
    </div>
  </div>
  <!-- Jumbotron containing search options. -->
  <div class="row">
    <div class="col">
      <div id="jumbotron" class="jumbotron jumbotron-fluid align-items-center">
        <div class="row">
          <div class="col align-items-center">
            <h1 class="display-3 text-center">Search</h1>
          </div>
        </div>

        <!-- The search bar. -->
        <div id="search-form" class="form-inline justify-content-center row">
          <div class="input-group col-lg-8">
            <input class="form-control" placeholder="Search" id="search-term">
            <!-- Button that initiates search. -->
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" onClick="search()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>          
        </div>

        <!-- Checkboxes for search options. -->
        <div id="search-check" class="form-inline justify-content-center row">
          <div th:replace="search-check(input_id='title', label='Title')"></div>
          <div th:replace="search-check(input_id='description', label='Description')"></div>
          <div th:replace="search-check(input_id='author', label='Author')"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter bar. -->
  <div class="row">
    <div class="col">
      <div class="form-group form-inline">
        <label for="filter-select" class="navbar-brand">Show:</label>
        <select class="form-control" id="filter-select">
          <option value="all">All Lessons</option>
          <option value="main">Main Lessons</option>
          <option value="shared">Shared Lessons</option>
          <option value="your">Your Lessons</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group form-inline pull-right">
        <span class="navbar-brand">Sort By: </span>
        <ul class="nav nav-pills">
          <!-- The tab for all lessons. -->
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" id="none">None</a>
          </li>

          <!-- The tab for main lessons. -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" id="title">Title</a>
          </li>

          <!-- The tab for shared lessons. -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" id="author">Author</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sort by bar. -->
  <div class="row justify-content-center sort-nav">
    
  </div>

  <!-- Search results. -->
  <div class="row">
    <div class="col">
      <div id="search-results"
    </div>
  </div>
</div>
 
</body>
</html>