<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/lessoncard.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/search.css}"></link>
  <script th:src="@{/public/js/search.js}"></script>
</head>
<body>

<div class="container" id="settings-page" data-firstname="${user.first_name}" data-lastname="${user.last_name}"  data-userid="${user.user_id}">
  <div class="row">
    <div class="col">
      <div th:replace="settings-navbar :: navbar"></div>
    </div>
  </div>
  <!-- Jumbotron containing search options. -->
  <div class="row">
    <div class="col">
      <div id="jumbotron" class="jumbotron jumbotron-fluid align-items-center">
        <div class="row">
          <div class="col align-items-center">
            <h1 class="display-3 text-center">Search</h1>
          </div>
        </div>

        <!-- The search bar. -->
        <div id="search-form" class="form-inline justify-content-center row">
          <div class="input-group col-lg-8">
            <input class="form-control" placeholder="Search" id="search-term">
            <!-- Button that initiates search. -->
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" onClick="search()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>          
        </div>

        <!-- Checkboxes for search options. -->
        <div id="search-check" class="form-inline justify-content-center row">
          <div th:replace="search-check(input_id='title', label='Title')"></div>
          <div th:replace="search-check(input_id='description', label='Description')"></div>
          <div th:replace="search-check(input_id='author', label='Author')"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter bar. -->
  <div class="row justify-content-center filter-nav">
    <ul class="nav nav-pills nav-fill">
      <!-- The tab for all lessons. -->
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" id="all">All Lessons</a>
      </li>

      <!-- The tab for main lessons. -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" id="main">Main Lessons</a>
      </li>

      <!-- The tab for shared lessons. -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" id="shared">Shared Lessons</a>
      </li>

      <!-- The tab for a user's lessons. -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" id="your">Your Lessons</a>
      </li>
    </ul>
  </div>

  <!-- Search results. -->
  <div class="row">
    <div class="col">
      <div id="search-results"
    </div>
  </div>
</div>
 
</body>
</html>