<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   
  <title>Codo - Settings</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/lessoncard.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/settings.css}"></link>
  <script th:src="@{/public/js/settings.js}"></script>
</head>
<body>

<div class="container" id="settings-page" data-firstname="${user.first_name}" data-lastname="${user.last_name}"  data-userid="${user.user_id}">
  <div class="row">
    <div class="col">
      <div th:replace="settings-navbar :: navbar"></div>
    </div>
  </div>
  <div class="row">
    <h2 id="settings-title" class="col text-center">Settings</h2>
  </div>
  <div class="row">
    <div id="settings-box" class="col jumbotron">
      <div class="row justify-content-center">
        <div id="img-box" class="col-2 text-center align-items-center">
          <img th:src="${user.avatar}" alt="Avatar Image" class="img-thumbnail"></img>
        </div>
        <div class="col-4">
          <dl class="row">
            <dt class="col-3">Username</dt>
            <dd class="col-9" id="username-done" >
                <span id="username-text" th:text="${user.username}"></span>
              <div class="float-right" id="username_edit" >
                <!-- the icon to edit the username -->
                <i class="fa fa-lg fa-pencil" ></i>
              </div>
            </dd>
            <!-- the form to edit the username, hidden originally, then shown then the pencil is pressed -->
            <dd class="input-group" id="username-edit-form" style="display: none;">
              <input type="text" class="form-control" id="username-textbox" th:text="${user.username}"/>
              <span class="input-group-btn">
                <button class="btn btn-secondary" id="username-no-btn" type="button">NO</button>
                <button class="btn btn-secondary" id="username-submit-btn" type="button">OK</button>
              </span>
            </dd>

            <dt class="col-3" >Email</dt>
            <dd class="col-9" id="email" th:text="${user.email}">
              fake.user@gmail.com
            </dd>

            <dt class="col-3">Name</dt>
            <dd class="col-9" th:text="${user.first_name}" >
              John Doe
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-3 offset-md-2">
      <button class="btn btn-danger" id="reset-tutorial-btn" type="button" href="#" data-toggle="tooltip" data-placement="bottom" title="Replay the tutorial next time you navigate to the user page and lesson page.">Replay Tutorial</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger" id="reset-lessons-btn" href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Reset your progress on every main lesson to when you first made your account">Reset Lesson Progress</button>
    </div>
      <div class="col-md-3">
        <button class="btn btn-danger" id="delete-account-btn" type="button" href="#" data-toggle="tooltip" data-placement="bottom" title="Delete your account from our service">Delete Account</button>
      </div>
    <!--<div class="col-4 text-center">-->
      <!--<i class="fa fa-lg fa-repeat" aria-hidden="true"></i>-->
      <!--Reset Account Progress-->
    <!--</div>-->
    <!--<div class="col-4 text-center">-->
      <!--<i class="fa fa-lg fa-trash" aria-hidden="true"></i>-->
      <!--Delete Account-->
    <!--</div>-->
  </div>
</div>
 
</body>
</html>
