<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>  
  <nav id="lesson-options-navbar" th:fragment="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded step-5">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".dual-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- A left menu for task options. -->
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <!-- Navigate to previous task. -->
      <li class="nav-item" th:if="${prev_task} > 0">
        <a class="nav-link"
          th:href="'/lesson/' + ${lesson.lesson_id} + '/task/' + ${prev_task}"
          data-toggle="tooltip" data-placement="bottom" title="Previous Task">
          <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i>
        </a>  
      </li>
      <!-- Restart current task. -->
      <li class="nav-item">
        <a class="nav-link"
          th:href="'/restartlesson/' + ${lesson.lesson_id} + '/restarttask/' + ${task.task_id}"
          data-toggle="tooltip" data-placement="bottom" title="Reset Task">
          <i class="fa fa-lg fa-backward" aria-hidden="true"></i>
        </a>  
      </li>
      <!-- Restart current lesson. -->
      <li class="nav-item">
        <a class="nav-link" th:href="'/restartlesson/' + ${lesson.lesson_id}"
          data-toggle="tooltip" data-placement="bottom" title="Restart Lesson">
          <i class="fa fa-lg fa-fast-backward" aria-hidden="true"></i>
        </a>  
      </li>
    </ul>
  </div>

  <!-- A centered list of navigation links to tasks in the lesson.. -->
  <div class="navbar-collapse collapse
">
    <ul class="navbar-nav mx-auto" th:each="index: ${#numbers.sequence(1, #lists.size(lesson.tasks))}">
      <li class="nav-item">
        <a th:if="${lesson.tasks[index-1].getId() == task.getTask_id()}" class="active nav-link"
          href="#"
          th:text="${index}"
          data-toggle="tooltip"
          th:attr="title=${task_titles[index-1]}"></a>
        <a th:unless="${lesson.tasks[index-1].getId() == task.getTask_id()}" th:class="${task_statuses[index-1]}? 'nav-link' : 'nav-link disabled'"
          th:href="${task_statuses[index-1]}? '/lesson/' + ${lesson.getLesson_id()} + '/task/' + ${lesson.tasks[index-1].getId()} : '#'"
          th:text="${index}"
          data-toggle="tooltip"
          th:attr="title=${task_titles[index-1]}"></a>  
      </li>
    </ul>
  </div>

  <!-- A save button on the right. -->
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item step-9" th:if="${user.is_moderator and !lesson.site_owned}">
        <a class="nav-link"
          data-toggle="modal" data-target="#reportModal" title="Report a Lesson">
          <i class="fa fa-lg fa-flag" aria-hidden="true"></i>
        </a>  
      </li>
      <!-- Undo changes to current task. -->
      <li class="nav-item">
        <a class="nav-link"
          th:href="'/lesson/' + ${lesson.lesson_id} + '/task/' + ${task.getTask_id()}"
          data-toggle="tooltip" data-placement="bottom" title="Undo Unsaved Changes">
          <i class="fa fa-lg fa-undo" aria-hidden="true"></i>
        </a>  
      </li>
      <!-- Save state of current task. -->
      <li class="nav-item">
        <a class="nav-link"
          onClick="save()"
          data-toggle="tooltip" data-placement="bottom" title="Save Changes">
          <i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i>
        </a>  
      </li>
    </ul>
  </div>
  </nav>

</body>
  
</html>
