<!doctype html>
<html lang="len">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <script src="https://apis.google.com/js/platform.js" ></script>
  <meta name="google-signin-client_id" content="441622834163-c890l3f1krej8tfgv0sl78b3tqqo10fo.apps.googleusercontent.com">
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/7e4c107e18.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/lessoncard.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/user.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/js/lib/intro.js/introjs.css}"></link>
  <script th:src="@{/public/js/lib/intro.js/intro.js}"></script>
  <script th:src="@{/public/js/user.js}"></script>
</head>
<body onload="onLoad()">
<div class="container">
  <div th:replace="user-navbar :: navbar"></div>
  <div class="row justify-content-center user-section" id="badges">
    <div class="col">

      <!-- A welcome header. -->
      <div class="row justify-content-center user-section-header">
        <h2 class="step-1" th:text="|Welcome, ${user_info.first_name}!|"></h2>
      </div>

      <!-- A container that will eventually contain badges. -->
<!--       <div class="row justify-content-center user-section-header">
        <h2>Badges</h2>
      </div>
      <div class="row justify-content-center">
      </div> -->
    </div>
  </div>
  <div class="row justify-content-center user-section" id="progress">
    <div class="col step-7">

      <!-- Displays the lesson in progress. -->
      <div class="row justify-content-center user-section-header">
        <h2>You're learning:</h2>
      </div>
      <div class="row justify-content-center">
        <div th:replace="lessoncard :: myfragment(${lesson})"></div>
      </div>
    </div>
  </div>

  <!-- Tabs showing the various lessons available. -->
  <div class="row justify-content-center user-section" id="lessons-tab">
    <div class="col">
      <div class="row justify-content-center user-section-header">
        <h2>Lessons</h2>
      </div>

      <!-- The pills to link to the different sections. -->
      <div class="row justify-content-center lesson-nav">
        <ul class="nav nav-pills nav-fill">

          <!-- The tab for main lessons. -->
          <li class="nav-item">
            <a class="nav-link active step-5" data-toggle="pill" href="#main">Main Lessons</a>
          </li>

          <!-- The tab for shared lessons. -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#shared">Shared Lessons</a>
          </li> -->

          <!-- The tab for a user's lessons. -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#your">Your Lessons</a>
          </li> -->
        </ul>
      </div>
      <div class="tab-content step-6">
        <div class="tab-pane fade show active" id="main" role="tabpanel">
          <div class="row" th:each="index: ${#numbers.sequence(0, #lists.size(main_lessons) - 1, 2)}">
            <div th:replace="lessoncard :: myfragment(${main_lessons[index]})"></div>
            <div th:if="${index  < #lists.size(main_lessons) - 1}" class="col-6 align-items-center">
              <div th:replace="lessoncard :: subfragment(${main_lessons[index + 1]})" th:remove="tag"></div>
            </div>
          </div>
        </div>

        <!-- The tab for the shared lessons. -->
        <!-- <div class="tab-pane fade" id="shared" role="tabpanel">
          <div class="row justify-content-center">
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
          </div>
          <div class="row justify-content-center">
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
          </div>
          <div class="row justify-content-center">
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
          </div>
        </div> -->

        <!-- The tab for a user's lessons. -->
        <!-- <div class="tab-pane fade" id="your" role="tabpanel">
          <div class="row justify-content-center add-button">
            <a class="btn btn-primary" href="#"
                data-toggle="tooltip" data-placement="left" title="Add Lesson">
              <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
            </a>
          </div>
          <div class="row justify-content-center">
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
          </div>
          <div class="row justify-content-center">
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
          </div>
          <div class="row justify-content-center">
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
            <div th:replace="lessoncard :: myfragment(${lesson})"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div id="page-info" th:attr="data-lesson-id=${lesson.lesson_id},data-new-user=${user_info.new_user}">
</div>
</body>
</html>
