<!doctype html>
<html lang="len">
<head>
   
  <title>Codo - Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <script src="https://apis.google.com/js/platform.js" ></script>
  <meta name="google-signin-client_id" content="441622834163-c890l3f1krej8tfgv0sl78b3tqqo10fo.apps.googleusercontent.com">
  
  <div th:replace="standard-scripts-css :: standard" th:remove="tag"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/lessoncard.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/user.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/js/lib/intro.js/introjs.css}"></link>
  <script th:src="@{/public/js/lib/intro.js/intro.js}"></script>
  <script th:src="@{/public/js/user.js}"></script>
</head>
<body onload="onLoad()">
<div class="container">
  <div th:replace="user-navbar :: navbar"></div>
  <div  class="row justify-content-center">
    <div class="col-2 mx-auto text-center">
          <img th:src="${user_info.avatar}" alt="Avatar Image" class="rounded-circle"></img>
    </div>
  </div>
  <div class="row justify-content-center user-section" id="badges">
    <div class="col">

      <!-- A welcome header. -->
      <div class="row justify-content-center user-section-header">
        <h2 class="step-1" th:text="|Welcome, ${user_info.first_name}!|"></h2>
      </div>

      <!-- A container that will eventually contain badges. -->
<!--       <div class="row justify-content-center user-section-header">
        <h2>Badges</h2>
      </div>
      <div class="row justify-content-center">
      </div> -->
    </div>
  </div>
  <div class="row justify-content-center user-section step-5" id="progress">
    <div class="col">

      <!-- Displays the lesson in progress. -->
      <div class="row justify-content-center user-section-header">
        <h2>You're learning:</h2>
      </div>
      <div class="row justify-content-center">
        <div th:replace="lessoncard :: myfragment(lesson=${lesson}, path='/lesson/')"></div>
      </div>
    </div>
  </div>

  <!-- Tabs showing the various lessons available. -->
  <div class="row justify-content-center user-section" id="lessons-tab">
    <div class="col">
      <div class="row justify-content-center user-section-header">
        <h2>Lessons</h2>
      </div>

      <!-- The pills to link to the different sections. -->
      <div id="lesson-nav" class="row justify-content-center step-4">
        <ul class="nav nav-pills nav-fill">

          <!-- The tab for main lessons. -->
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#main">Main Lessons</a>
          </li>

          <!-- The tab for shared lessons. -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#shared">Shared Lessons</a>
          </li>

          <!-- The tab for a user's lessons. -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#your">Your Lessons</a>
          </li>
            <!-- The tab for a reported lessons. -->
          <li class="nav-item" th:if="${user_info.is_moderator}">
            <a class="nav-link" data-toggle="pill" href="#reported">Reported Lessons</a>
          </li>
        </ul>
      </div>
      <div class="tab-content step-3">
        <div class="tab-pane fade show active" id="main" role="tabpanel">
          <div th:replace="lesson-list :: list-display(lesson_list=${main_lessons},path='/lesson/')"></div>
        </div>

        <!-- The tab for the shared lessons. -->
        <div class="tab-pane fade" id="shared" role="tabpanel">
          <div th:replace="lesson-list :: list-display(lesson_list=${shared_lessons},path='/lesson/')"></div>
        </div>

        <!-- The tab for a user's lessons. -->
        <div class="tab-pane fade" id="your" role="tabpanel">
          <div class="row justify-content-center add-button">
            <a class="btn btn-primary" href="/createlesson"
                data-toggle="tooltip" data-placement="left" title="Add Lesson">
              <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
            </a>
          </div>
          <div th:replace="lesson-list :: list-display(lesson_list=${own_lessons},path='/createlesson/')"></div>
        </div>

        <!-- The tab for the shared lessons. -->
        <div class="tab-pane fade" id="reported" role="tabpanel" th:if="${user_info.is_moderator}">
          <!-- TODO: load the reposted lessons -->
          <div th:replace="lesson-list :: list-display(lesson_list=${shared_lessons},path='/lesson/')"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="page-info" th:attr="data-lesson-id=${lesson.lesson_id},data-new-user=${user_info.new_user}">
</div>
</body>
</html>
