<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>  
  <nav th:fragment="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-flex mx-auto" href="#">
      <img th:src="@{/public/images/darklogo.png}" width="30" height="30" alt="">
      <strong>Codo</strong>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto step-2">
            <!-- A link to the search page. -->
            <li class="nav-item">
                <a class="nav-link" href="/search"
                    data-toggle="tooltip" data-placement="bottom" title="Search">
                  <i class="fa fa-lg fa-search" aria-hidden="true"></i>
                </a>
            </li>

            <!-- A link to the settings page. -->
            <li class="nav-item">
                <a class="nav-link" href="/user/settings"
                    data-toggle="tooltip" data-placement="bottom" title="Settings">
                  <i class="fa fa-lg fa-cog" aria-hidden="true"></i>
                </a>
            </li>

            <!-- A link to signout. -->
            <li class="nav-item">
                <a class="nav-link" href="#"
                    data-toggle="tooltip" data-placement="bottom" title="Log out" onclick="signOut()">
                  <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
  </nav>
</body>
  
</html>
