<!doctype html>
<html lang="en">
<head>
   
  <title>A jQuery Drag-and-Drop Number Cards Game</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/lessoncard.css}"></link>
  <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/user.css}"></link>
</head>
<body>

<div class="container">
  <div class="row justify-content-center user-section" id="badges">
    <h2>Badges</h2>
  </div>
  <div class="row justify-content-center user-section" id="progress">
    <div class="col">
      <div class="row justify-content-center">
        <h2>Current Lessons</h2>
      </div>
      <div class="row justify-content-center">
        <div th:replace="lessoncard :: lesson"></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center user-section" id="lessons-tab">
    <h2>Badges</h2>
  </div>
</div>
 
</body>
</html>