/*CSS for all block-related things.*/

/*CSS related to divs holding blocks.*/

#block-content {
    display: flex;
    flex-direction: column;
}

#editor>div, #catalog>div {
    float: left;
    clear: left;
}

#editor>div, #toolbox>div, #catalog>div {
    margin-top: 5px;,
    margin-bottom: 5px;
    margin-right: 5px;
}

#toolbox>div {
    display: inline-block;
}

#editor-div {
    flex-grow: 1;
}

/*General card stuff.*/
.card {
    margin: 10px;
}

.card-header>h3 {
    display: inline-block;
}

/*CSS for code blocks.*/
.code-block {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: darkslategrey;
}

.code-block:focus {
    background-color: darkslategrey;
    color: white;
    border: darkslategrey;
}

.code-block>.holds-one {
    vertical-align: middle;
}

.holds-one {
    padding: 5px;
    min-height: 1.5em;
    border: 1px solid #ddd;
    display: inline-block;
    min-width: 25px;
}

/*CSS for flashing incorrect blocks.*/
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% {}
    50% { background-color: red; color: white;}
    100% {}
}

@-moz-keyframes flash {
    0% {}
    50% { background-color: red; color: white; }
    100% {}
}

@-ms-keyframes flash {
    0% {}
    50% { background-color: red; color: white; }
    100% {}
}