#editor>.code-block {
    float: left;
    clear: left;
}

.code-block {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: darkslategrey;
}

.card {
    margin: 10px;
}

.card-header>h3 {
    display: inline-block;
}

.sortable.hover {
    color: #ddd;
}

#blockContent {
    display: flex;
    flex-direction: column;
}

#editor-div {
    flex-grow: 1;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% {}
    50% { background-color: red; color: white;}
    100% {}
}

@-moz-keyframes flash {
    0% {}
    50% { background-color: red; color: white; }
    100% {}
}

@-ms-keyframes flash {
    0% {}
    50% { background-color: red; color: white; }
    100% {}
}