.sortable { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sortable li { 
    margin-bottom: 10px;
    padding: 10px;
}

/*CSS for code blocks.*/
.task-block {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: darkslategrey;
    align-items: center;
}

.task-block:focus {
    background-color: darkslategrey;
    color: white;
    border: darkslategrey;
}

#description-text{
    width:100%;
    min-height: 200px;
}

.task-button {
    margin-left: 10px;
}

.form-check {
    margin: 0;
}

#task-card {
    margin-top: 25px;
    margin-bottom: 25px;
}

#button-row .fa {
    margin-right: 5px;
}

#button-row>a {
    margin: 5px;
}