.title-box, .description-box {
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

}

.title-box {
    text-align: center;
}

.lesson-box {
    padding: 10px;
}

.description-box {
    display: flex;
    align-items: center;
}