.title-box, .description-box {
    border: 1px solid #ddd;
    padding: 10px;
}

.title-box {
    text-align: center;
}

.lesson-box {
    padding: 10px;
}

.description-box {
    display: flex;
    align-items: center;
}