body, button, input, optgroup, select, textarea {
    font-family: 'Questrial', Verdana, Helvetica, sans-serif;
/*    background-color: #FFFFCC;

*/}

.fa-vc {
    line-height:inherit!important;
}



/*General card stuff.*/
.card {
    margin: 10px;
}

.card-header>h3 {
    display: inline-block;
}

.card-title {
    margin-bottom: 0px;
}

/* General navbar spacing. */

nav {
    margin-bottom: 25px;
}

.logotitle {
  font-size: 7em;
  font-weight: 800;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

.btn-outline-white {
  color: #ededed;
  border: 1px solid #ededed;
  border-radius: .25rem;
  width: 2.5em;
}