body, button, input, optgroup, select, textarea {
    font-family: 'Questrial', Verdana, Helvetica, sans-serif;
/*    background-color: #FFFFCC;
*/}

.fa-vc {
    line-height:inherit!important;
}

.fa-disabled {
    color: lightgrey;

html,body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

*[contenteditable] {
    -webkit-user-select: auto !important;
}