body, button, input, optgroup, select, textarea {
    font-family: 'Questrial', Verdana, Helvetica, sans-serif;
/*    background-color: #FFFFCC;

*/}

.fa-vc {
    line-height:inherit!important;
}



/*General card stuff.*/
.card {
    margin: 10px;
}

.card-header>h3 {
    display: inline-block;
}

.card-title {
    margin-bottom: 0px;
}

/* General navbar spacing. */

nav {
    margin-bottom: 25px;
}
