#settings-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 25px;
}

#settings-title{
    margin-bottom: 25px;
}

#img-box {
    display: flex;
    align-items: center;
}

dl {
    margin: 0px;
}