.user-section {
    padding: 10px;
}

.add-button-row, .user-section-header, #lesson-nav, .user-section {
    margin-bottom: 25px;
}

.badge-item {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    font-weight:600;
}

#add-button {
    color: white;
}
